*,
body,
html {
  margin: 0 !important;
  padding: 0;
}

body {
  background-color: #000000 !important;
}

/* Nav bar */

li.nav-item a:hover {
  color: #ac3e3e !important;
}

/* Home page */

h2,
h3 {
  color: #ac3e3e !important;
}

.hero {
  background: url("./Auto4Sale/images/hero-bg-1.png") no-repeat bottom;
  background-size: 100%;
  overflow: hidden;
}

.logo {
  width: 8rem;
}

.feature-title {
  font-family: "Lobster", sans-serif;
  font-size: 36px;
}

/* Footer  */

.name {
  font-size: 20px;
  text-decoration: none;
  color: #ac3e3e;
  font-style: italic;
}

/* Media queries  */

@media screen and (max-width: 425px) {
  ul.sellers-box {
    display: none !important;
  }
}

@media screen and (max-width: 1077px) {
  .home-hero-btns {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    background: url("");
  }
}

@media screen and (max-width: 460px) {
  .contact-icon svg.icon {
    display: none !important;
  }
}
